.messageCon {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.textDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 75vw;
}

.time {
    font-size: 10px;
}

.ownCon {
    align-items: flex-start;
}

.friendCon {
    align-items: flex-end;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.messageText {
    border-radius: 10px;
    font-size: 15px;
    max-width: 85%;
    word-wrap: break-word;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.mText {
    margin-top: 0;
}

.ownText {
    background-color: rgba(102, 162, 230, 0.747);
}

.friendText {
    background-color: rgba(183, 191, 201, 0.767);
}

.noConversation {
    text-align: center;
    color: gray;
    opacity: 30%;
}

@media only screen and (max-width: 431px) {
    .messageImg {
        height: 25px;
        width: 25px;
    }
}