$animation_right: moveToRight 2s;
$animation_left: moveToLeft 2s;

$color_aliceblue: aliceblue;
$color_subTitle: rgb(62, 109, 141);

@mixin Wrapper($animation) {
  width: 50%;
  overflow-y: scroll;
  background-color: rgb(191, 207, 221);
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgb(158, 179, 197) 0px 2px 8px 0px;
  max-height: 37.5%;
  margin-right: 15px;
  animation: $animation;
}

@mixin flex($JC) {
  display: flex;
  align-items: center;
  justify-content: $JC;
}

@mixin subTitle {
  text-align: center;
  color: $color_subTitle;
  font-size: 30px;
  letter-spacing: 1.5px;
  padding: 5px;
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
  flex-direction: column;
  background-color: $color_aliceblue;
}

.title {
  margin-top: 50px;
  text-align: center;
  letter-spacing: 1.5px;
  background: linear-gradient(to right, rgb(119, 165, 173), rgb(12, 60, 120));
  background-clip: text;
  color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: moveToButtom 2s;
}

.leftBar {
  flex: 2;
  margin: 10px;
  max-height: 100vh;
  width: 100%;
  @include flex(flex-start);
  flex-direction: column;
}

.conversations {
  margin-bottom: 20px;
  @include Wrapper($animation_right);

  & h4 {
    @include subTitle;
  }
}

.newUsers {
  @include Wrapper($animation_left);

  & h4 {
    @include subTitle;
  }
}

.messages {
  flex: 6;
  background-color: $color_aliceblue;
  max-height: 100vh;

  &__Nav {
    @include flex(center);
    background-color: rgb(176, 193, 209);
    position: fixed;
    z-index: 999;
    width: 100vw;
    margin-top: 40px;

    & button {
      cursor: pointer;
      margin-left: 10px;
      border: none;
      background-color: rgb(84, 179, 147);
      border-radius: 10px;
      padding: 7px;
      font-size: 10px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    & h4 {
      width: 100%;
      height: min-content;
      text-align: center;
      margin: 0;
      padding: 10px;
      letter-spacing: 1px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }
}

.openChat {
  margin-top: 85px;
  overflow-y: scroll;
  height: calc(100vh - 230px);
}

.input__container {
  @include flex(space-between);
  height: 150px;
  padding: 0 10px;
  background-color: rgb(206, 218, 230);
  gap: 10px;

  & textarea {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: rgb(227, 232, 236);
    padding: 10px;

    &:focus {
      outline: none;
    }
  }

  & button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(17, 172, 120);
    cursor: pointer;
  }
}

.search {
  width: 100%;
  height: 30px;
  @include flex(center);
  margin: 10px 0;

  & input {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(20, 83, 143, 0.281);
    padding: 5px;
    @include flex(center);

    &:focus {
      outline: none;
    }
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToButtom {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 431px) {
  .conversations {
    width: 90%;

    & h4 {
      font-size: 20px;
    }
  }

  .newUsers {
    width: 90%;

    & h4 {
      font-size: 20px;
    }
  }
}
